@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Luxurious+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Luxurious+Roman&family=Montserrat:wght@500&display=swap');

//declaro las variales globales que guardan los valores 

//-------------------------- paleta de colores utilizando variables--------------------------
$colorletra:white;
$font2:'Acme',sans-serif;
$azul:#0a2447;
$font3:'Montserrat', sans-serif;
// declaro mi mapa con todos los estilos que necesita mi pagina y lo voy utilizando con mapget
$estilos:(
    naranja: orange,
    gris:grey,
    blanco:white,
    bkcolor:#302a2aa6,
    centro: center,
    letra: 'Luxurious Roman',
);

//genero un mixin que voy a utilizar en la parte de #galeria
@mixin size ($width, $heigth){
    height:$heigth;
    width: $width;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:$azul;
}

main{
    height: 100%;
    width: auto;
}


//--------------------------------------HEADER-----------------------------------
.navbar{
    background-color: white !important;
}

// Cambio la ubicacion del texto en el header
#collapsibleNavbar {
    justify-content: end;
}

//cambio color de las letras en el header y la fuente de la  letra
.nav-link{
    color: $azul!important;
    font-family: map-get($estilos, letra);
}
.navbar-toggler{
    background-color:$azul;
}

//------------------------------------pagina principal Jumbotron----------------------------
.jumbotron {
    min-height: 1200px;
    background-color: $azul;
    color: map-get($estilos,gris);
    position: relative;
    font-family: map-get($estilos,letra );
    line-height: 1.5rem;
}

.jumbotron p {
    font-size: 4rem;
    font-family:$font3;
    line-height: 4rem;
}

//----------------------------------pagina principal carusel---------------------------------
.titulo{
    margin-left: 5rem;
    color: map-get($estilos,colores );
    font-family: map-get($estilos,letra );
    margin: 3rem 1rem 1rem 1rem;
}

//-----------------------------------------Footer-----------------------------------------

.footer-style {
    padding-top: 0;
    background-color: white;
}

.text-center p{
    margin-bottom:0;
}
//-------------------------------------Seccion de Nosotros------------------- 

.n-left {
    min-height: 1200px;
    background-color: map-get($estilos,gris);
    color: map-get($estilos,blanco);
    border-radius: 30px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    box-shadow: 10px 5px 5px black;
    font-family: $font2;
    font-size: x-large;
}

.n-left h2 {
    text-align: center;
}

.n-left p {
    color: $colorletra;
    text-align: justify;
    font-size: large;
    padding: 1rem 1rem 1rem 1rem;
}

.n-rigth {
    min-height: 1200px;
    margin-top: 0;
    padding: 1rem 1rem 1rem 1rem;
}

.n-rigth img {
    min-height: 1200px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 10px 5px 5px black;
}

// -------------------------------- Seccion Productos--------------------
#galeria.container{
    height: 100%;
}

#galeria h2{
    text-decoration:underline ;
    color:map-get($estilos, gris);
}
#galeria p{
    font-family: $font3;
    font-size: x-large;
    color:map-get($estilos, gris);
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}

#galeria img {
    @include size(100%,250px);
    border-radius: 5px;
    border: 6px solid map-get($estilos, gris);
    padding: 2px;
    margin-bottom: 5rem;
}

#galeria img:hover {
    transform: scale(1.1);
}

#galeria h4 {
    color: map-get($estilos, gris);
    text-align: center;
}
// -----------------------------Formulario Contacto------------------------------
.contenedorf {
    min-height: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: blanchedalmond;
    padding: 0;
    font-family: map-get($estilos, letra);
}

.formulario {
    width: 22rem;
    border: 6px solid map-get($estilos , colores);
    border-radius: 20px;
    font-family: map-get($estilos, letra);
}

.ingreso{
    min-height: 500px;
}

.custom-select {
    width: 300px;
}

// -------------------------------------------Servicios--------------------
.mantenimiento,
.ReparacionLaser,
.MedicionAgua,
.medicionTemp,
.asesoramiento,
.calibracion{
    color: white;
    font-size: 16px;
    min-height: 1100px;
    background-color: grey;
    text-align: center;
    border-radius: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 20px;
}

.container .mantenimiento:hover {
    transform: scale(1.1);
}
.container .ReparacionLaser:hover {
    transform: scale(1.1);
}
.container .MedicionAgua:hover {
    transform: scale(1.1);
}
.container .medicionTemp:hover {
    transform: scale(1.1);
}
.container .asesoramiento:hover {
    transform: scale(1.1);
}
.container .calibracion:hover {
    transform: scale(1.1);
}

// ------------------icono ------------------
.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:100px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}


