@import url("https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Luxurious+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Luxurious+Roman&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a2447;
}

main {
  height: 100%;
  width: auto;
}

.navbar {
  background-color: white !important;
}

#collapsibleNavbar {
  justify-content: end;
}

.nav-link {
  color: #0a2447 !important;
  font-weight: bold;
  font-family: "Luxurious Roman";
}

.navbar-toggler {
  background-color: #0a2447;
}

.jumbotron {
  min-height: 1200px;
  background-color: #0a2447;
  color: grey;
  position: relative;
  font-family: "Luxurious Roman";
  line-height: 1.5rem;
}

.jumbotron p {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 4rem;
}

.titulo {
  margin-left: 5rem;
  font-family: "Luxurious Roman";
  margin: 3rem 1rem 1rem 1rem;
}

.footer-style {
  padding-top: 0;
  background-color: white;
}

.text-center p {
  margin-bottom: 0;
}

.n-left {
  min-height: 1200px;
  background-color: grey;
  color: white;
  border-radius: 30px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  box-shadow: 10px 5px 5px black;
  font-family: "Acme", sans-serif;
  font-size: x-large;
}

.n-left h2 {
  text-align: center;
}

.n-left p {
  color: white;
  text-align: justify;
  font-size: large;
  padding: 1rem 1rem 1rem 1rem;
}

.n-rigth {
  min-height: 1200px;
  margin-top: 0;
  border: 20px solid #0a2447;
  background-image: url(./img/mantenimiento.jpg);
  background-size: cover;
  border-radius: 30px;
  box-shadow: 10px 5px 5px black;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 1, 5%;
}

#galeria.container {
  height: 100%;
}

#galeria h2 {
  text-decoration: underline;
  color: grey;
}

#galeria p {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  color: grey;
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  height: 250px;
  width: 100%;
  border-radius: 5px;
  border: 6px solid grey;
  padding: 2px;
  margin-bottom: 5rem;
}

#galeria img:hover {
  transform: scale(1.1);
}

#galeria h4 {
  color: grey;
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.baner {
  height: 400px;
  width: 100%;
  background-color: grey;
  background-image: url(./img/baner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.baner p {
  color: #0a2447;
  font-family: "Acme", sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.contenedorf {
  min-height: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: blanchedalmond;
  padding: 0;
  font-family: "Luxurious Roman";
}

.formulario {
  width: 22rem;
  border: 6px solid;
  padding: 20px 5px 20px 5px;
  border-radius: 20px;
  font-family: "Luxurious Roman";
}

.ingreso {
  min-height: 500px;
}

.custom-select {
  width: 300px;
}

.mapa {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.mapa iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.mantenimiento,
.ReparacionLaser,
.MedicionAgua,
.medicionTemp,
.asesoramiento,
.calibracion {
  color: white;
  font-size: 16px;
  min-height: 1100px;
  background-color: grey;
  text-align: center;
  border-radius: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 20px;
}

.container .mantenimiento:hover {
  transform: scale(1.1);
}

.container .ReparacionLaser:hover {
  transform: scale(1.1);
}

.container .MedicionAgua:hover {
  transform: scale(1.1);
}

.container .medicionTemp:hover {
  transform: scale(1.1);
}

.container .asesoramiento:hover {
  transform: scale(1.1);
}

.container .calibracion:hover {
  transform: scale(1.1);
}

.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 100px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}/*# sourceMappingURL=estilos.css.map */